//mediaquery
@import './variable.scss';

@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: $tabletSize) {@content;}
    }

    @else if $media == pc {
        @media only screen and (min-width: $pcSize) {@content;}
    }
}

.copyright {
    @include respond-to(mobile) {
        font-size: 45px;
        background-color: blue;
    }
    @include respond-to(pc) {
        font-size: 210px;
        background-color: green;
    }
}
